
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css -->

  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-pink-600">
        <nav class="flex justify-between max-w-6xl mr-auto ml-auto py-12 ">
            <ul>
                <li>
                    <a href="/">
                        <button class="bg-green-300 border border-solid border-yellow-300 px-2">Home</button>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="">
                    <a href="/users/login">
                        <button class="bg-green-300 border border-solid border-yellow-300 px-2">Login</button>
                    </a>
                    <a class="ml-4" href="/users/register">
                        <button class="bg-green-300 border border-solid border-yellow-300 px-2">Register</button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class=" mt-16 text-center">
      <a  href="/articles">
        <button class=" bg-green-300 border border-solid border-yellow-300 px-2">View Articles</button>
      </a>
    </main>
</body>
</html>